*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a72f2fce;
}
.background-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    background-color: #4caf50;
    overflow: hidden;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin: 0;

}
nav ul li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #45a049;
}
.main-content{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2f42ecc8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.contact-form label{
    display: block;
    margin-bottom: 5px;
    
}
.contact-form input[type="text"],
.contact-form input[type="emai"],
.contact-form input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px  20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-info{
    margin-top: 30px;
}
.contact-info h2{
    margin-bottom: 10px;
}
.contact-info p{
    margin-bottom: 5px;
}
