body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.background-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    background-color: #4caf50;
    overflow: hidden;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin: 0;

}
nav ul li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #45a049;
}

.main-content{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    
}
.header{
    background-color:rgba(218, 221, 16, 0.786);
    
}
h1{
    color: #022c03;
    font-size: 40px;
        
}
.image-row{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-row img{
    width: calc(33.33% - 20px);
    margin: 0 10px;
}
.image-container{
    position: relative;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}
.image-container img{
    width: 100%;
    height: auto;
    opacity: 1;
}
.image-text{
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 0;
    background-color:rgba(34, 33, 33, 0.444);
    color: white;
    padding: 5px;
    text-align: center;
    z-index: 1.5;
    
}


h2{
    margin-top: 20px;
}
form{
    margin-top: 10px;
    color: rgba(10, 81, 81, 0.995);
}
form label{
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: #45a049;
}
p{
    margin-top: 10px;
    font-size: larger;
    color: rgb(199, 11, 183);
}
p a{
    color: #4caf50;
}



.form-container{
    width: calc(50% - 20px);
    padding: 20px;
    background-color: #9063099d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

#login-container{
    margin-left: 150px;
   
    

}
#feedback-container{
    margin-left: 150px;
    margin-top: 10px;
    
}
